<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--<link rel="icon" type="image/svg+xml" href="/" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ImgSnare</title>
    <% if (environment === 'production') { %>
    <base href="/" />
    <link rel="stylesheet" href="<%= manifest['src/main.js'].css %>" />
    <% } %>
  </head>
  <body>
    <div id="app">
      <% if (environment === 'production') { %>
      <script type="module" src="<%= manifest['src/main.js'].file %>"></script>
      <% } else { %>
      <script type="module" src="http://localhost:5173/@vite"></script>
      <script type="module" src="http://localhost:5173/src/main.js"></script>
    </div>
    <% } %>
  </body>
</html>
