/*! Basic theme template
* TODO: Make theme configurations when ready for production
*/

/*! Global text colors */
$globalWhite: #eeeeee;
$globalDark: #222222;

/*! Shadow colors */
$shadowWhite: #bbbbbb;
$shadowDark: #333333;

/*! Light theme */
$lightTheme: (
  --text-color: $globalDark,
  --bg-color: $globalWhite,

  --shadow-color: $shadowWhite,
);

/*! Dark theme */
$darkTheme: (
  --text-color: $globalWhite,
  --bg-color: $globalDark,

  --shadow-color: $shadowDark,
);

/*! Mixins */
@mixin spread-map($map: ()) {
  @each $key, $value in $map {
    #{$key}: $value;
  }
}

/*! Changed themes */
:root {
  @include spread-map($lightTheme);
  &.dark {
    @include spread-map($darkTheme);
  }
}
